.head-notics{
    color: red;
    column-rule-style: dashed;
    background-color: aqua;
}
.head-bg{
    background-image: url("images/bg-images/school-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.head-bg img{
    width: 50%;
    height: 50%;
}

.gate{
    text-align: center;
}

 
.gates{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.anchor-tag{
    display: inline-block;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 5px;
    font-weight: bold;
    
}
.center{
    text-align: center;
}







/* home pages ar kaj koreco */

.logo-batch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.btn-style{
    color: black;
    border-color: aliceblue;
    background: coral;
    text-decoration: none;
    width: 10%;
    height: 5%;
    padding: 12px;
    border-radius: 9px;
    font-weight: bold;
}







/*  teachers  */

.top-banner{
    background-image: url("images/teachers/top-banner.png");
    background-repeat: no-repeat;
}

.d-name{
    color: darkorange;
}
.d-podobi{
    color: fuchsia;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%%;
}

.anchor-button{
    display: inline-block;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: bold;
}

.half-width-hiren{
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-bottom: 200px;
    padding-left: 2%;

}